* {
    margin: 0;
    padding: 0;
}

.banner-section {
    height: 100vh;
    background-color: rgb(230, 205, 205);
    display: flex;
    gap: 500px;
    align-items: center;
    justify-content: center;
    /* padding: 40px 100px 0 100px; */
    position: relative;
}

.banner-title {
    font-size: 70px;
}

.banner-description {
    padding: 20px;
    padding-left: 0;
    width: 500px;
}

.btn-primary {
    background-color: #E55473;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    /* color: blue; */
    background-color: blue;
    color: #E55473;
}

#banner-img {
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 100px;
}


.flowers-section {
    height: 100vh;
    /* border: 2px solid black; */
    margin: 100px;
}

.flowers-info {
    text-align: center;
    margin-top: 70px;
}

.flowers-section-title {
    font-size: 40px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.flowers-section-description {
    font-size: 18px;
    padding-bottom: 50px;
}

.box {
    width: 300px;
    height: 380px;
    /* border: 2px solid tomato; */
    position: relative;
    background-color: #A7216226;
    border-radius: 200px 200px 0 0;
}

.box-2 {
    background-color: #0597A026;
}

.box-3 {
    background-color: #477D1126;
}

.box-icon {
    width: 220px;
    position: absolute;
    bottom: 0px;
    padding-left: 15%;
}

.box-icon-2 {
    padding-bottom: 60px;
}

.flower-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flower-name-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 20px;
    text-decoration: underline;
    cursor: pointer;
}


.support-section {
    /* width: 300px; */
    height: 200px;
    margin: 100px 158px 20px 158px;
    background-color: #2727270D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.delivery-section {
    text-align: center;
}

/* offer section */
.offer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    margin-top: 100px;
    background-color: #E554730D;
    gap: 50px;
}

.offer-details {
    text-align: center;
}

#offer-title {
    font-size: 35px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#offer-description {
    padding: 10px;
    margin-bottom: 10px;
}

.instagram-section {
    text-align: center;
}

#show-img {
    width: 250px;
    margin: 40px 5px;
}

.instagram-title {
    font-size: 35px;
    padding: 10px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.instagram-description {
    padding: 10px;
}

#deals-title {
    font-size: 35px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#cupon-price {
    padding: 10px;
}

#input {
    padding: 15px 10px;
    width: 500px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.deals-section {
    height: 280px;
    text-align: center;
    background-image: url(./Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    margin: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.birthday-card {
    height: 100vh;
    /* background-color: rgb(251, 237, 237); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px 0px;
}

.card-img {
    border: 1px solid tomato;
    margin: 50px;
    border-radius: 5px;
    background-color: #f1dfe3;
}

.card-title {
    color: blue;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

.card-color {
    color: rgb(9, 215, 9);
    padding: 10px 0px 20px 10px;
    font-weight: bold;
}

.taka {
    font-size: 25px;
    font-weight: bold;
}

.price {
    padding: 5px;
}

.add {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

#sku {
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
}

.add-card {
    padding: 7px 25px;
    border: 1px solid greenyellow;
    border-radius: 10px;
    background-color: rgb(9, 245, 9);
    margin: 5px;
    cursor: pointer;
}

.add-card:hover {
    background-color: white;
}

#media-icon {
    margin: 10px;
    cursor: pointer;
}

.sold-by {
    height: 200px;
    width: 300px;
    border: 1px solid rgb(235, 218, 215);
    border-radius: 10px;
    text-align: center;
    background-color: #fbf7f8;
    padding: 10px;
}

.last-btn {
    padding: 5px 100px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(34, 255, 0);
}

.bold {
    color: rgb(4, 177, 4);
    font-size: 30px;
    font-weight: bolder;
    margin: 20px;
}

.footer-section {
    height: 280px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-title {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.color {
    color: #E55473;
}

.footer-description {
    padding: 10px 10px 40px;
}